In [1]:
import mysql.connector
import pandas as pd

# Database connection configuration
config = {
    'user': 'use',
    'password': 'password',
    'host': '47.254.198.45',
    'database': 'qf5214',
    'port': '3306'
}

# Connect to the database
cnx = mysql.connector.connect(**config)

# Create the query
query = "SELECT * FROM ods_stock_inf"

# Use pandas to read the SQL query result into a DataFrame
df = pd.read_sql(query, cnx)

# Save the DataFrame to a CSV file
csv_file_path = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/inf_stock_data.csv'
df.to_csv(csv_file_path, index=False)

# Close the database connection
cnx.close()

In [3]:
file_path_inf = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/inf_stock_data.csv'
ods_stock_inf = pd.read_csv(file_path_inf)

In [4]:
ods_stock_inf['CONCEPT'].head
# Display the first few rows of the 'CONCEPT' column to understand its structure

<bound method NDFrame.head of 0      跨境支付;银;大盘股;上涨点位贡献;全A等权;银行精选;全A精选;陆股通重仓前100;核心资...
1      全A负动量;房地产金股;海通证券金股;券商金股综合;银;大盘股;下跌点位贡献;全A等权;房地...
2      英伟达产业链;6G;新经济;自主可控;TMT;信创产业;通信金股;券商金股综合;长城证券金股...
3      央企房地产;央企中盘股;非陆股通重仓;国企综合;央企综合;中盘股;银;全A等权;全A(非陆股...
4      非基金重仓;新经济;TMT;元宇宙;先进制造;大盘股;下跌点位贡献;三新;双循环;全A等权;...
                             ...
295    非陆股通重仓;民营企业综合;口腔医疗;胶原蛋白;中盘股;宁组合;双创100;医美;茅;全A等...
296    央企电子;央企中盘股;非陆股通重仓;央企综合;国企综合;中特估;新经济;自主可控;中盘股;汽...
297    非陆股通重仓;全A负动量;民营企业综合;中盘股;TMT;信创产业;跨境支付;元宇宙;下跌点位...
298    非基金重仓;民营企业综合;新经济;中资国际化;自主可控;中盘股;TMT;能源出海;TOPco...
299    非陆股通重仓;全A负动量;GPU;新经济;自主可控;TMT;信创产业;减持;元宇宙;先进制造...
Name: CONCEPT, Length: 300, dtype: object>

In [5]:
ods_stock_inf[['HOT_CONCEPT1', 'HOT_CONCEPT2', 'HOT_CONCEPT3']] = ods_stock_inf['CONCEPT'].str.split(';', expand=True).iloc[:, :3]

In [6]:
ods_stock_inf.head

<bound method NDFrame.head of     Unnamed: 0 EXCH_ENG SEC_NAME  TRADE_CODE  \
0    000001.SZ     SZSE     平安银行           1
1    000002.SZ     SZSE      万科A           2
2    000063.SZ     SZSE     中兴通讯          63
3    000069.SZ     SZSE     华侨城A          69
4    000100.SZ     SZSE    TCL科技         100
..         ...      ...      ...         ...
295  688363.SH      SSE     华熙生物      688363
296  688396.SH      SSE      华润微      688396
297  688561.SH      SSE    奇安信-U      688561
298  688599.SH      SSE     天合光能      688599
299  688981.SH      SSE     中芯国际      688981

                                               CONCEPT  \
0    跨境支付;银;大盘股;上涨点位贡献;全A等权;银行精选;全A精选;陆股通重仓前100;核心资...
1    全A负动量;房地产金股;海通证券金股;券商金股综合;银;大盘股;下跌点位贡献;全A等权;房地...
2    英伟达产业链;6G;新经济;自主可控;TMT;信创产业;通信金股;券商金股综合;长城证券金股...
3    央企房地产;央企中盘股;非陆股通重仓;国企综合;央企综合;中盘股;银;全A等权;全A(非陆股...
4    非基金重仓;新经济;TMT;元宇宙;先进制造;大盘股;下跌点位贡献;三新;双循环;全A等权;...
..                                                 ...
295  非陆股通重仓;民营企业综合;口腔医疗;胶原蛋白;中盘股;宁组合;双创100;医美;茅;全A等...
296  央企电子;央企中盘股;非陆股通重仓;央企综合;国企综合;中特估;新经济;自主可控;中盘股;汽...
297  非陆股通重仓;全A负动量;民营企业综合;中盘股;TMT;信创产业;跨境支付;元宇宙;下跌点位...
298  非基金重仓;民营企业综合;新经济;中资国际化;自主可控;中盘股;TMT;能源出海;TOPco...
299  非陆股通重仓;全A负动量;GPU;新经济;自主可控;TMT;信创产业;减持;元宇宙;先进制造...

                                            HOTCONCEPT LATESTCONCEPT  \
0                         跨境支付;银;上涨点位贡献;银行精选;核心资产;基金重仓           中动量
1                         银;房地产精选;核心资产;分拆上市;基金重仓;新型城镇化         全A负动量
2    英伟达产业链;6G;自主可控;信创产业;EDA;核心资产;新基建;5G应用;消费电子产业;半...        全A价格回报
3                                     国企综合;银;业绩爆雷;社保重仓         央企房地产
4    元宇宙;先进制造;双循环;5G应用;消费电子产业;新型显示技术;分拆上市;科技龙头;数字经济...         非基金重仓
..                                                 ...           ...
295                                 宁组合;医美;茅;基金重仓;生物科技        非陆股通重仓
296  国企综合;中特估;自主可控;汽车芯片;信创产业;元宇宙;MCU芯片;先进制造;双循环;半导体...          央企电子
297    跨境支付;信创产业;元宇宙;双循环;5G应用;科技龙头;基金重仓;操作系统;AIPC;网络安全        非陆股通重仓
298  自主可控;能源出海;TOPcon电池;先进制造;碳中和;电源设备精选;分拆上市;出海;特高压...         非基金重仓
299  GPU;自主可控;信创产业;元宇宙;先进制造;双循环;茅;半导体精选;中芯国际产业链;晶圆产...        非陆股通重仓

                                                 CHAIN       COMP_NAME  \
0                                                  NaN      平安银行股份有限公司
1                                              PC 长租公寓      万科企业股份有限公司
2    PC 家庭娱乐,PC 在线办公,PC NCP专利,PC 智能网联汽车,PC 物联网,PC 5...      中兴通讯股份有限公司
3                                                  NaN     深圳华侨城股份有限公司
4                        PC 家庭娱乐,PC 智能手表,PC 消费金融,PC 家电   TCL科技集团股份有限公司
..                                                 ...             ...
295                                                NaN    华熙生物科技股份有限公司
296                                                NaN       华润微电子有限公司
297                                                NaN   奇安信科技集团股份有限公司
298                                              PC 光伏      天合光能股份有限公司
299                                        半导体-集成电路产业链  中芯国际集成电路制造有限公司

                                         COMP_NAME_ENG PROVINCE NATURE1  \
0                               Ping An Bank Co., Ltd.      广东省    公众企业
1                                 China Vanke Co.,Ltd.      广东省    公众企业
2                                      Zte Corporation      广东省    公众企业
3              Shenzhen Overseas Chinese Town Co., Ltd      广东省  中央国有企业
4                     Tcl Technology Group Corporation      广东省    公众企业
..                                                 ...      ...     ...
295         Bloomage Biotechnology Corporation Limited      山东省    民营企业
296           China Resources Microelectronics Limited      江苏省  中央国有企业
297                    Qi An Xin Technology Group Inc.       北京    民营企业
298                              Trina Solar Co., Ltd.      江苏省    民营企业
299  Semiconductor Manufacturing International Corp...       上海    公众企业

    INDUSTRY_CSRC2023 INDUSTRY_CSRCCODE2023 INDUSTRY_GICS  INDUSTRY_GICSCODE  \
0                 金融业                     J            金融                 40
1                房地产业                     K           房地产                 60
2                 制造业                     C          信息技术                 45
3                房地产业                     K           房地产                 60
4                 制造业                     C          信息技术                 45
..                ...                   ...           ...                ...
295               制造业                     C          医疗保健                 35
296               制造业                     C          信息技术                 45
297   信息传输、软件和信息技术服务业                     I          信息技术                 45
298               制造业                     C          信息技术                 45
299               制造业                     C          信息技术                 45

    HOT_CONCEPT1 HOT_CONCEPT2 HOT_CONCEPT3
0           跨境支付            银          大盘股
1          全A负动量        房地产金股       海通证券金股
2         英伟达产业链           6G          新经济
3          央企房地产        央企中盘股       非陆股通重仓
4          非基金重仓          新经济          TMT
..           ...          ...          ...
295       非陆股通重仓       民营企业综合         口腔医疗
296         央企电子        央企中盘股       非陆股通重仓
297       非陆股通重仓        全A负动量       民营企业综合
298        非基金重仓       民营企业综合          新经济
299       非陆股通重仓        全A负动量          GPU

[300 rows x 19 columns]>

In [7]:
ods_stock_inf.columns.tolist()

['Unnamed: 0',
 'EXCH_ENG',
 'SEC_NAME',
 'TRADE_CODE',
 'CONCEPT',
 'HOTCONCEPT',
 'LATESTCONCEPT',
 'CHAIN',
 'COMP_NAME',
 'COMP_NAME_ENG',
 'PROVINCE',
 'NATURE1',
 'INDUSTRY_CSRC2023',
 'INDUSTRY_CSRCCODE2023',
 'INDUSTRY_GICS',
 'INDUSTRY_GICSCODE',
 'HOT_CONCEPT1',
 'HOT_CONCEPT2',
 'HOT_CONCEPT3']

In [8]:
ods_stock_inf = ods_stock_inf.rename(columns={'Unnamed: 0': 'stock_code'})

In [9]:
file_path_odsinf = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_stock_inf.csv'
ods_stock_inf.to_csv(file_path_odsinf, index=False)

In [ ]:
from sqlalchemy import create_engine

# Database connection configuration
username = 'user'
password = 'password'
host = '47.254.198.45'  # Could be an IP address or a domain name
database_name = 'qf5214'
port = 3306  # default MySQL port

# Create a database engine using SQLAlchemy
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database_name}')

# Insert the DataFrame directly into the MySQL table
ods_stock_inf.to_sql(name=ods_stock_inf, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [ ]:
query = "SELECT * FROM market_price"

# Use pandas to read the SQL query result into a DataFrame
df = pd.read_sql(query, cnx)

# Save the DataFrame to a CSV file
csv_file_path = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/market_price.csv'
df.to_csv(csv_file_path, index=False)

# Close the database connection
cnx.close()

In [10]:
file_path_prc = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/market_price.csv'
ods_market_price = pd.read_csv(file_path_prc)

In [11]:
ods_market_price.head

<bound method NDFrame.head of        Unnamed: 0   OPEN   HIGH    LOW       VOLUME           AMT   PCT_CHG  \
0      2023-12-25   9.18   9.20   9.14   41397088.0  3.796382e+08 -0.108696
1      2023-12-26   9.19   9.20   9.07   54189633.0  4.937466e+08 -0.979325
2      2023-12-27   9.10   9.13   9.02   64153435.0  5.820367e+08  0.219780
3      2023-12-28   9.11   9.47   9.08  166159184.0  1.550257e+09  3.618421
4      2023-12-29   9.42   9.48   9.35   85385279.0  8.031967e+08 -0.634921
...           ...    ...    ...    ...          ...           ...       ...
18295  2024-03-21  47.54  48.10  47.10   19507622.0  9.295905e+08  0.021035
18296  2024-03-22  47.30  47.51  45.58   29286513.0  1.357453e+09 -4.100946
18297  2024-03-25  45.59  45.66  44.56   21448161.0  9.655624e+08 -2.280702
18298  2024-03-26  44.60  45.05  44.20   15427667.0  6.872348e+08 -0.044883
18299  2024-03-27  44.82  44.82  43.38   15933041.0  7.004951e+08 -2.537045

       CLOSE2  MFD_BUYAMT_D  MFD_SELLAMT_D  MFD_NETBUYAMT stock_code
0        9.19    51505523.0     75215893.0    -23710370.0  000001.SZ
1        9.10    54858109.0     97131657.0    -42273548.0  000001.SZ
2        9.12   100391759.0     86192913.0     14198846.0  000001.SZ
3        9.45   542082803.0    312429755.0    229653048.0  000001.SZ
4        9.39   120187915.0    256041118.0   -135853203.0  000001.SZ
...       ...           ...            ...            ...        ...
18295   47.55    70667541.0     83748166.0    -13080625.0  688981.SH
18296   45.60    82742080.0    173408035.0    -90665956.0  688981.SH
18297   44.56    58107390.0     70339441.0    -12232051.0  688981.SH
18298   44.54    38233663.0     71643042.0    -33409379.0  688981.SH
18299   43.41    40572837.0     68775486.0    -28202649.0  688981.SH

[18300 rows x 12 columns]>

In [12]:
ods_market_price.columns.tolist()

['Unnamed: 0',
 'OPEN',
 'HIGH',
 'LOW',
 'VOLUME',
 'AMT',
 'PCT_CHG',
 'CLOSE2',
 'MFD_BUYAMT_D',
 'MFD_SELLAMT_D',
 'MFD_NETBUYAMT',
 'stock_code']

In [13]:
ods_market_price = ods_market_price.rename(columns={'Unnamed: 0': 'date'})

In [14]:
file_path_odsprc = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_market_price.csv'
ods_market_price.to_csv(file_path_odsprc, index=False)

In [ ]:
# Insert the DataFrame directly into the MySQL table
ods_market_price.to_sql(name=ods_market_price, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [ ]:
query = "SELECT * FROM holder"

# Use pandas to read the SQL query result into a DataFrame
df = pd.read_sql(query, cnx)

# Save the DataFrame to a CSV file
csv_file_path = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/holder.csv'
df.to_csv(csv_file_path, index=False)

# Close the database connection
cnx.close()

In [15]:
file_path_holder = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/holder.csv'
ods_holder_inf = pd.read_csv(file_path_holder)

In [16]:
ods_holder_inf.head

<bound method NDFrame.head of        Unnamed: 0  HOLDER_TOP10LIQQUANTITY  HOLDER_TLTTOP10LIQPCT  \
0      2023-12-25             1.300153e+10              66.999042
1      2023-12-26             1.300153e+10              66.999042
2      2023-12-27             1.300153e+10              66.999042
3      2023-12-28             1.300153e+10              66.999042
4      2023-12-29             1.300153e+10              66.999042
...           ...                      ...                    ...
17136  2024-03-21             1.219021e+10              69.004703
17137  2024-03-22             1.219021e+10              69.004703
17138  2024-03-25             1.219021e+10              69.004703
17139  2024-03-26             1.219021e+10              69.004703
17140  2024-03-27             1.219021e+10              69.004703

       HOLDER_LIQQUANTITY  HOLDER_LIQPCT  HOLDER_NUM2  HOLDER_TOTALBYINST  \
0            9.618540e+09      49.565932     530229.0                 NaN
1            9.618540e+09      49.565932     530229.0                 NaN
2            9.618540e+09      49.565932     530229.0                 NaN
3            9.618540e+09      49.565932     530229.0                 NaN
4            9.618540e+09      49.565932     530229.0                 NaN
...                   ...            ...          ...                 ...
17136        5.333220e+09      30.189566     230104.0                 NaN
17137        5.333220e+09      30.189566     230104.0                 NaN
17138        5.333220e+09      30.189566     230104.0                 NaN
17139        5.333220e+09      30.189566     230104.0                 NaN
17140        5.333220e+09      30.189566     230104.0                 NaN

       HOLDER_TOTALBYFUND  HOLDER_TOTALBYBYSEC stock_code
0                     NaN                  NaN  000001.SZ
1                     NaN                  NaN  000001.SZ
2                     NaN                  NaN  000001.SZ
3                     NaN                  NaN  000001.SZ
4                     NaN                  NaN  000001.SZ
...                   ...                  ...        ...
17136                 NaN                  NaN  603993.SH
17137                 NaN                  NaN  603993.SH
17138                 NaN                  NaN  603993.SH
17139                 NaN                  NaN  603993.SH
17140                 NaN                  NaN  603993.SH

[17141 rows x 10 columns]>

In [17]:
ods_holder_inf.columns.tolist()

['Unnamed: 0',
 'HOLDER_TOP10LIQQUANTITY',
 'HOLDER_TLTTOP10LIQPCT',
 'HOLDER_LIQQUANTITY',
 'HOLDER_LIQPCT',
 'HOLDER_NUM2',
 'HOLDER_TOTALBYINST',
 'HOLDER_TOTALBYFUND',
 'HOLDER_TOTALBYBYSEC',
 'stock_code']

In [18]:
ods_holder_inf = ods_holder_inf.rename(columns={'Unnamed: 0': 'date'})

In [19]:
ods_holder_inf = ods_holder_inf.drop(columns=['HOLDER_TOTALBYINST', 'HOLDER_TOTALBYFUND','HOLDER_TOTALBYBYSEC'])

In [20]:
file_path_odsholder = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_holder_inf.csv'
ods_holder_inf.to_csv(file_path_odsholder, index=False)

In [ ]:
# Insert the DataFrame directly into the MySQL table
ods_holder_inf.to_sql(name=ods_holder_inf, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [21]:
dwd_market_price_di = pd.merge(ods_market_price, ods_holder_inf, on=['date', 'stock_code'], how='outer')
dwd_market_price_di.head

<bound method NDFrame.head of              date   OPEN   HIGH    LOW       VOLUME           AMT   PCT_CHG  \
0      2023-12-25   9.18   9.20   9.14   41397088.0  3.796382e+08 -0.108696
1      2023-12-25  10.34  10.38  10.28   27320474.0  2.817907e+08 -0.770713
2      2023-12-25  25.10  25.66  25.10   44630398.0  1.133568e+09  0.595948
3      2023-12-25   3.04   3.06   3.00   33240619.0  1.008282e+08  0.000000
4      2023-12-25   3.92   3.97   3.91  131678047.0  5.201335e+08  1.534527
...           ...    ...    ...    ...          ...           ...       ...
18295  2024-03-27  57.25  57.90  56.10    1146003.0  6.542314e+07 -2.264808
18296  2024-03-27  40.77  41.27  39.50    6491736.0  2.623108e+08 -0.302801
18297  2024-03-27  32.47  32.67  30.66    4373358.0  1.370691e+08 -6.037389
18298  2024-03-27  24.47  24.50  23.45   10656501.0  2.555645e+08 -4.089980
18299  2024-03-27  44.82  44.82  43.38   15933041.0  7.004951e+08 -2.537045

       CLOSE2  MFD_BUYAMT_D  MFD_SELLAMT_D  MFD_NETBUYAMT stock_code  \
0        9.19    51505523.0     75215893.0    -23710370.0  000001.SZ
1       10.30    12014329.0     45399117.0    -33384788.0  000002.SZ
2       25.32   199784819.0    180348576.0     19436243.0  000063.SZ
3        3.05     7328866.0      8043176.0      -714310.0  000069.SZ
4        3.97    83527513.0     91697388.0     -8169875.0  000100.SZ
...       ...           ...            ...            ...        ...
18295   56.10     3059715.0      3914437.0      -854722.0  688363.SH
18296   39.51    10382165.0      4789347.0      5592818.0  688396.SH
18297   30.66           0.0      5471150.0     -5471150.0  688561.SH
18298   23.45     8811258.0     14363948.0     -5552690.0  688599.SH
18299   43.41    40572837.0     68775486.0    -28202649.0  688981.SH

       HOLDER_TOP10LIQQUANTITY  HOLDER_TLTTOP10LIQPCT  HOLDER_LIQQUANTITY  \
0                 1.300153e+10              66.999042        9.618540e+09
1                 4.754923e+09              48.935741        3.242811e+09
2                 1.345092e+09              33.401681        9.589404e+08
3                 4.000667e+09              56.695136        2.717533e+09
4                 4.199649e+09              23.204349        1.062514e+09
...                        ...                    ...                 ...
18295                      NaN                    NaN                 NaN
18296                      NaN                    NaN                 NaN
18297                      NaN                    NaN                 NaN
18298                      NaN                    NaN                 NaN
18299                      NaN                    NaN                 NaN

       HOLDER_LIQPCT  HOLDER_NUM2
0          49.565932     530229.0
1          33.373694     556846.0
2          23.812668     410780.0
3          38.511303     113631.0
4           5.870716     622787.0
...              ...          ...
18295            NaN          NaN
18296            NaN          NaN
18297            NaN          NaN
18298            NaN          NaN
18299            NaN          NaN

[18300 rows x 17 columns]>

In [22]:
dwd_market_price_di = pd.merge(dwd_market_price_di, ods_stock_inf, on='stock_code', how='left')

In [23]:
dwd_market_price_di.head

<bound method NDFrame.head of              date   OPEN   HIGH    LOW       VOLUME           AMT   PCT_CHG  \
0      2023-12-25   9.18   9.20   9.14   41397088.0  3.796382e+08 -0.108696
1      2023-12-25  10.34  10.38  10.28   27320474.0  2.817907e+08 -0.770713
2      2023-12-25  25.10  25.66  25.10   44630398.0  1.133568e+09  0.595948
3      2023-12-25   3.04   3.06   3.00   33240619.0  1.008282e+08  0.000000
4      2023-12-25   3.92   3.97   3.91  131678047.0  5.201335e+08  1.534527
...           ...    ...    ...    ...          ...           ...       ...
18295  2024-03-27  57.25  57.90  56.10    1146003.0  6.542314e+07 -2.264808
18296  2024-03-27  40.77  41.27  39.50    6491736.0  2.623108e+08 -0.302801
18297  2024-03-27  32.47  32.67  30.66    4373358.0  1.370691e+08 -6.037389
18298  2024-03-27  24.47  24.50  23.45   10656501.0  2.555645e+08 -4.089980
18299  2024-03-27  44.82  44.82  43.38   15933041.0  7.004951e+08 -2.537045

       CLOSE2  MFD_BUYAMT_D  MFD_SELLAMT_D  ...  \
0        9.19    51505523.0     75215893.0  ...
1       10.30    12014329.0     45399117.0  ...
2       25.32   199784819.0    180348576.0  ...
3        3.05     7328866.0      8043176.0  ...
4        3.97    83527513.0     91697388.0  ...
...       ...           ...            ...  ...
18295   56.10     3059715.0      3914437.0  ...
18296   39.51    10382165.0      4789347.0  ...
18297   30.66           0.0      5471150.0  ...
18298   23.45     8811258.0     14363948.0  ...
18299   43.41    40572837.0     68775486.0  ...

                                           COMP_NAME_ENG PROVINCE  NATURE1  \
0                                 Ping An Bank Co., Ltd.      广东省     公众企业
1                                   China Vanke Co.,Ltd.      广东省     公众企业
2                                        Zte Corporation      广东省     公众企业
3                Shenzhen Overseas Chinese Town Co., Ltd      广东省   中央国有企业
4                       Tcl Technology Group Corporation      广东省     公众企业
...                                                  ...      ...      ...
18295         Bloomage Biotechnology Corporation Limited      山东省     民营企业
18296           China Resources Microelectronics Limited      江苏省   中央国有企业
18297                    Qi An Xin Technology Group Inc.       北京     民营企业
18298                              Trina Solar Co., Ltd.      江苏省     民营企业
18299  Semiconductor Manufacturing International Corp...       上海     公众企业

       INDUSTRY_CSRC2023  INDUSTRY_CSRCCODE2023  INDUSTRY_GICS  \
0                    金融业                      J             金融
1                   房地产业                      K            房地产
2                    制造业                      C           信息技术
3                   房地产业                      K            房地产
4                    制造业                      C           信息技术
...                  ...                    ...            ...
18295                制造业                      C           医疗保健
18296                制造业                      C           信息技术
18297    信息传输、软件和信息技术服务业                      I           信息技术
18298                制造业                      C           信息技术
18299                制造业                      C           信息技术

       INDUSTRY_GICSCODE HOT_CONCEPT1 HOT_CONCEPT2  HOT_CONCEPT3
0                     40         跨境支付            银           大盘股
1                     60        全A负动量        房地产金股        海通证券金股
2                     45       英伟达产业链           6G           新经济
3                     60        央企房地产        央企中盘股        非陆股通重仓
4                     45        非基金重仓          新经济           TMT
...                  ...          ...          ...           ...
18295                 35       非陆股通重仓       民营企业综合          口腔医疗
18296                 45         央企电子        央企中盘股        非陆股通重仓
18297                 45       非陆股通重仓        全A负动量        民营企业综合
18298                 45        非基金重仓       民营企业综合           新经济
18299                 45       非陆股通重仓        全A负动量           GPU

[18300 rows x 35 columns]>

In [16]:
from datetime import datetime

In [17]:
current_time = datetime.now()

# Add the 'input_date_time' column with the current system time for all rows
dwd_market_price_di['input_date_time'] = current_time

dwd_market_price_di.head()

NameError: name 'dwd_market_price_di' is not defined

In [26]:
file_path_dwd_market_price_di = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/DWD/dwd_market_price_di.csv'
dwd_market_price_di.to_csv(file_path_dwd_market_price_di, index=False, encoding='utf-8-sig')

In [37]:
grouped = dwd_market_price_di.groupby(['date', 'INDUSTRY_GICS'])
dws_stock_price_performance_inf_di = grouped['PCT_CHG'].agg(
    N_PCT_CHG_10_7 = lambda x : ((x < 10) & (x > 7)).sum(),
    N_PCT_CHG_7_5 = lambda x : ((x < 7) & (x > 5)).sum(),
    N_PCT_CHG_5_3 = lambda x : ((x < 5) & (x > 3)).sum(),
    N_PCT_CHG_3_0 = lambda x : ((x < 3) & (x > 0)).sum(),
    N_PCT_CHG_0_3 = lambda x : ((x < 0) & (x > -3)).sum(),
    N_PCT_CHG_3_5 = lambda x : ((x < -3) & (x > -5)).sum(),
    N_PCT_CHG_5_7 = lambda x : ((x < -5) & (x > -7)).sum(),
    N_PCT_CHG_7_10 = lambda x : ((x < -7) & (x > -10)).sum(),
    MEAN_PCT_CHG_10_7 = lambda x : x[(x < 10) & (x > 7)].mean(),
    MEAN_PCT_CHG_7_5 = lambda x : x[(x < 7) & (x > 5)].mean(),
    MEAN_PCT_CHG_5_3 = lambda x : x[(x < 5) & (x > 3)].mean(),
    MEAN_PCT_CHG_3_0 = lambda x : x[(x < 3) & (x > 0)].mean(),
    MEAN_PCT_CHG_0_3 = lambda x : x[(x < 0) & (x > -3)].mean(),
    MEAN_PCT_CHG_3_5 = lambda x : x[(x < -3) & (x > -5)].mean(),
    MEAN_PCT_CHG_5_7 = lambda x : x[(x < -5) & (x > -7)].mean(),
    MEAN_PCT_CHG_7_10 = lambda x : x[(x < -7) & (x > -10)].mean()
).reset_index()

dws_stock_price_performance_inf_di.head

<bound method NDFrame.head of            date INDUSTRY_GICS  N_PCT_CHG_10_7  N_PCT_CHG_7_5  N_PCT_CHG_5_3  \
0    2023-12-25          信息技术               1              0              1
1    2023-12-25          公用事业               0              0              0
2    2023-12-25          医疗保健               1              0              1
3    2023-12-25          可选消费               0              0              2
4    2023-12-25            工业               0              0              3
..          ...           ...             ...            ...            ...
666  2024-03-27          日常消费               0              0              0
667  2024-03-27            材料               0              1              0
668  2024-03-27          电信服务               0              0              0
669  2024-03-27            能源               0              0              1
670  2024-03-27            金融               0              0              0

     N_PCT_CHG_3_0  N_PCT_CHG_0_3  N_PCT_CHG_3_5  N_PCT_CHG_5_7  \
0               42             14              3              0
1                8              1              0              0
2               17              7              1              0
3               11              8              0              0
4               30             14              2              0
..             ...            ...            ...            ...
666              3             15              0              0
667             10             15              7              2
668              2              1              1              0
669              3              6              0              0
670             20             26              2              1

     N_PCT_CHG_7_10  MEAN_PCT_CHG_10_7  MEAN_PCT_CHG_7_5  MEAN_PCT_CHG_5_3  \
0                 2           9.963548               NaN          3.146853
1                 0                NaN               NaN               NaN
2                 0           7.840099               NaN          3.615819
3                 0                NaN               NaN          3.963744
4                 0                NaN               NaN          3.703685
..              ...                ...               ...               ...
666               1                NaN               NaN               NaN
667               0                NaN          5.730659               NaN
668               0                NaN               NaN               NaN
669               0                NaN               NaN          4.027261
670               0                NaN               NaN               NaN

     MEAN_PCT_CHG_3_0  MEAN_PCT_CHG_0_3  MEAN_PCT_CHG_3_5  MEAN_PCT_CHG_5_7  \
0            1.028969         -0.806327         -3.382486               NaN
1            1.301725         -0.230415               NaN               NaN
2            0.873442         -0.413474         -3.061224               NaN
3            1.150353         -0.616111               NaN               NaN
4            0.929253         -0.619955         -3.615601               NaN
..                ...               ...               ...               ...
666          0.642438         -1.433855               NaN               NaN
667          0.991829         -1.197983         -3.519915         -5.686227
668          1.221192         -0.865801         -4.965431               NaN
669          1.120248         -0.899029               NaN               NaN
670          0.714632         -1.482295         -3.679128         -5.050725

     MEAN_PCT_CHG_7_10
0            -7.609329
1                  NaN
2                  NaN
3                  NaN
4                  NaN
..                 ...
666          -9.450473
667                NaN
668                NaN
669                NaN
670                NaN

[671 rows x 18 columns]>

In [41]:
dws_stock_price_performance_inf_di = dws_stock_price_performance_inf_di.fillna(0)
data = dws_stock_price_performance_inf_di

In [53]:
# Define the COUNT and MEAN columns
pct_chg_columns = [col for col in data.columns if 'PCT_CHG' in col and 'MEAN' not in col]
mean_pct_chg_columns = [col for col in data.columns if 'MEAN_PCT_CHG' in col]

# Extract COUNT data
count_data = data.loc[:, ['date', 'INDUSTRY_GICS'] + pct_chg_columns].melt(id_vars=['date', 'INDUSTRY_GICS'], var_name='PCT_CHG_X_Y', value_name='COUNT')
count_data['PCT_CHG_X_Y'] = count_data['PCT_CHG_X_Y'].apply(lambda x: x.replace('N_', ''))

# Extract MEAN data
mean_data = data.loc[:, ['date', 'INDUSTRY_GICS'] + mean_pct_chg_columns].melt(id_vars=['date', 'INDUSTRY_GICS'], var_name='PCT_CHG_X_Y', value_name='MEAN')
mean_data['PCT_CHG_X_Y'] = mean_data['PCT_CHG_X_Y'].apply(lambda x: x.replace('MEAN_', ''))

# Merge COUNT and MEAN data
combined_data = pd.merge(count_data, mean_data, on=['date', 'INDUSTRY_GICS', 'PCT_CHG_X_Y'])

# Define the desired sort order for PCT CHG X Y
desired_order = [
    'PCT_CHG_10_7', 'PCT_CHG_7_5', 'PCT_CHG_5_3', 'PCT_CHG_3_0',
    'PCT_CHG_0_3', 'PCT_CHG_3_5', 'PCT_CHG_5_7', 'PCT_CHG_7_10'
]

# Apply sorting by category
combined_data['PCT_CHG_X_Y'] = pd.Categorical(combined_data['PCT_CHG_X_Y'], categories=desired_order, ordered=True)

# Reset the index and sort the data in new order
final_adjusted_sorted_data = combined_data.set_index(['date', 'INDUSTRY_GICS', 'PCT_CHG_X_Y']).sort_index(level=[0, 1, 2])

# Displays the first few rows of data after the reordering
print(final_adjusted_sorted_data.head(10))

                                       COUNT      MEAN
date       INDUSTRY_GICS PCT_CHG_X_Y
2023-12-25 信息技术          PCT_CHG_10_7      1  9.963548
                         PCT_CHG_7_5       0  0.000000
                         PCT_CHG_5_3       1  3.146853
                         PCT_CHG_3_0      42  1.028969
                         PCT_CHG_0_3      14 -0.806327
                         PCT_CHG_3_5       3 -3.382486
                         PCT_CHG_5_7       0  0.000000
                         PCT_CHG_7_10      2 -7.609329
           公用事业          PCT_CHG_10_7      0  0.000000
                         PCT_CHG_7_5       0  0.000000

In [56]:
count_data.head

<bound method NDFrame.head of             date INDUSTRY_GICS   PCT_CHG_X_Y  COUNT
0     2023-12-25          信息技术  PCT_CHG_10_7      1
1     2023-12-25          公用事业  PCT_CHG_10_7      0
2     2023-12-25          医疗保健  PCT_CHG_10_7      1
3     2023-12-25          可选消费  PCT_CHG_10_7      0
4     2023-12-25            工业  PCT_CHG_10_7      0
...          ...           ...           ...    ...
5363  2024-03-27          日常消费  PCT_CHG_7_10      1
5364  2024-03-27            材料  PCT_CHG_7_10      0
5365  2024-03-27          电信服务  PCT_CHG_7_10      0
5366  2024-03-27            能源  PCT_CHG_7_10      0
5367  2024-03-27            金融  PCT_CHG_7_10      0

[5368 rows x 4 columns]>

In [54]:
dws_stock_price_performance_inf_di = final_adjusted_sorted_data

In [55]:
file_path_dws_stock_price_performance_inf_di = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/DWS/dws_stock_price_performance_inf_di.csv'
dws_stock_price_performance_inf_di.to_csv(file_path_dws_stock_price_performance_inf_di, index=True, encoding='utf-8-sig')

In [ ]:
# Insert the DataFrame directly into the MySQL table
dws_stock_price_performance_inf_di.to_sql(name=dws_stock_price_performance_inf_di, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [ ]:
query_1 = "SELECT * FROM guba_eastmoney_stock_comments"
query_2 = "SELECT * FROM stock_comments_xueqiu"
query_3 = "SELECT * FROM merged_data_fund"
query_4 = "SELECT * FROM stock_news_titles_like_comments"
# Use pandas to read the SQL query result into a DataFrame
df_1 = pd.read_sql(query_1, cnx)
df_2 = pd.read_sql(query_2, cnx)
df_3 = pd.read_sql(query_3, cnx)
df_4 = pd.read_sql(query_4, cnx)

# Save the DataFrame to a CSV file
csv_file_path_1 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/guba_eastmoney_stock_comments.csv'
csv_file_path_2 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/stock_comments_xueqiu.csv'
csv_file_path_3 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/merged_data_fund.csv'
csv_file_path_4 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/stock_news_titles_like_comments.csv'

df.to_csv(csv_file_path_1, index=False)
df.to_csv(csv_file_path_2, index=False)
df.to_csv(csv_file_path_3, index=False)
df.to_csv(csv_file_path_4, index=False)

# Close the database connection
cnx.close()

In [52]:
file_path_comment_ef_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/guba_eastmoney_stock_comments.csv'
file_path_comment_sb_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/stock_comments_xueqiu.csv'
file_path_comment_ef_fund = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/merged_data_fund.csv'
file_path_news_ef_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/stock_news_titles_like_comments.csv'

ods_comment_ef_stock = pd.read_csv(file_path_comment_ef_stock)
ods_comment_sb_stock = pd.read_csv(file_path_comment_sb_stock)
ods_news_ef_stock = pd.read_csv(file_path_news_ef_stock)
ods_comment_ef_fund = pd.read_csv(file_path_comment_ef_fund)

In [53]:
ods_comment_ef_stock.columns.tolist()

['id',
 'stock_index',
 'read_counts',
 'comment_counts',
 'title',
 'author',
 'update_time',
 'detail_link',
 'source']

In [7]:
ods_comment_sb_stock.columns.tolist()

['post_id',
 'stock_index',
 'read_counts',
 'comment_counts',
 'title',
 'author',
 'update_time',
 'source']

In [51]:
ods_news_ef_stock.columns.tolist()

['stock_code',
 'update_time',
 'title',
 'read_counts',
 'comment_counts',
 'author',
 'source',
 'data_type']

In [9]:
ods_comment_ef_fund.columns.tolist()

['views_count',
 'comments_count',
 'comment',
 'author_name',
 'time',
 'fund_id',
 'source']

In [54]:
ods_comment_ef_stock = ods_comment_ef_stock.rename(columns={'stock_index': 'stock_code','id': 'post_id'})
ods_comment_sb_stock = ods_comment_sb_stock.rename(columns={'stock_index': 'stock_code'})
ods_news_ef_stock = ods_news_ef_stock.rename(columns={'release_time':'update_time','reading_numb':'read_counts','comment_numb':'comment_counts','news_titles':'title'})
ods_comment_ef_fund = ods_comment_ef_fund.rename(columns={'author_name':'author','views_count':'read_counts','comments_count':'comment_counts','comment':'title','time':'update_time'})

ods_comment_ef_stock['data_type'] = 'comment'
ods_comment_sb_stock['data_type'] = 'comment'
ods_news_ef_stock['data_type'] = 'news'
ods_comment_ef_fund['data_type'] = 'comment'

In [ ]:
# Convert `update_time` to datetime format for proper sorting
ods_comment_ef_stock['update_time'] = pd.to_datetime(ods_comment_ef_stock['update_time'], dayfirst=True, errors='raise')
ods_comment_sb_stock['update_time'] = pd.to_datetime(ods_comment_sb_stock['update_time'], errors='raise')
ods_news_ef_stock['update_time'] = pd.to_datetime(ods_news_ef_stock['update_time'], errors='raise')

In [61]:
file_path_ods_comment_sb_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_SB_stock.csv'
file_path_ods_comment_ef_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_stock.csv'
file_path_ods_news_ef_stock = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_news_EF_stock.csv'
file_path_ods_comment_ef_fund = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_fund.csv'

ods_comment_ef_stock.to_csv(file_path_ods_comment_ef_stock, index=False)
ods_comment_sb_stock.to_csv(file_path_ods_comment_sb_stock, index=False)
ods_news_ef_stock.to_csv(file_path_ods_news_ef_stock, index=False)
ods_comment_ef_fund.to_csv(file_path_ods_comment_ef_fund, index=False)

In [ ]:
# Insert the DataFrame directly into the MySQL table
ods_comment_ef_stock.to_sql(name=ods_comment_ef_stock, con=engine, if_exists='append', index=False)
ods_comment_sb_stock.to_sql(name=ods_comment_sb_stock, con=engine, if_exists='append', index=False)
ods_news_ef_stock.to_sql(name=ods_news_ef_stock, con=engine, if_exists='append', index=False)
ods_comment_ef_fund.to_sql(name=ods_comment_ef_fund, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [ ]:
query_1 = "SELECT * FROM ods_comment_EF_stock_sen"
query_2 = "SELECT * FROM ods_comment_SB_stock_sen"
query_3 = "SELECT * FROM ods_news_EF_stock_sen"
query_4 = "SELECT * FROM ods_comment_EF_fund_sen"
# Use pandas to read the SQL query result into a DataFrame
df_1 = pd.read_sql(query_1, cnx)
df_2 = pd.read_sql(query_2, cnx)
df_3 = pd.read_sql(query_3, cnx)
df_4 = pd.read_sql(query_4, cnx)

# Save the DataFrame to a CSV file
csv_file_path_1 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_stock_sen.csv'
csv_file_path_2 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_SB_stock_sen.csv'
csv_file_path_3 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_news_EF_stock_sen.csv'
csv_file_path_4 = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_fund_sen.csv'

df.to_csv(csv_file_path_1, index=False)
df.to_csv(csv_file_path_2, index=False)
df.to_csv(csv_file_path_3, index=False)
df.to_csv(csv_file_path_4, index=False)

# Close the database connection
cnx.close()

In [4]:
#After finishing Sentiment analysis, we have new csv file
file_path_ods_comment_ef_stock_sen = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_stock_sen.csv'
file_path_ods_comment_sb_stock_sen = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_SB_stock_sen.csv'
file_path_ods_news_ef_stock_sen = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_news_EF_stock_sen.csv'
file_path_ods_comment_ef_fund_sen = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/ODS/ods_comment_EF_fund_sen.csv'

ods_comment_ef_stock_sen = pd.read_csv(file_path_ods_comment_ef_stock_sen)
ods_comment_sb_stock_sen = pd.read_csv(file_path_ods_comment_sb_stock_sen)
ods_news_ef_stock_sen = pd.read_csv(file_path_ods_news_ef_stock_sen)
ods_comment_ef_fund_sen = pd.read_csv(file_path_ods_comment_ef_fund_sen)

In [5]:
ods_comment_sb_stock_sen.head

<bound method NDFrame.head of          post_id  stock_code  read_counts  comment_counts  \
0      283805426      600000         1191               0
1      283803062      600000         1231               0
2      283738559      600000         2420               0
3      283724648      600000         2868               0
4      283606946      600000         8655               0
...          ...         ...          ...             ...
90725  281653698      301269        34459               0
90726  281402802      301269        38219               0
90727  281310979      301269        43458               1
90728  281061176      301269        44355               1
90729  280605057      301269        55810               2

                                                   title     author  \
0                                          个别银行指哪个？浦发银行？     看不完怎么办
1      回复@攒股收息乙: 浦发银行不良下降4个基点，拨备覆盖率增加14.5%，也就是如果拨备覆盖率...         鉄山
2                $浦发银行(SH600000)$如果分红0.35，算超过我预期了，反之，就拜拜   超级石头9435
3                            $浦发银行(SH600000)$ 再过两天可以开空单了     不会股票的C
4      文：向善财经$浦发银行(SH600000)$ 最近一段时间，银行股表现也不尽如人意，近一个月...       向善财经
...                                                  ...        ...
90725  针对特定下游持续推出全流程工具。根据公司2023年中报，公司主要从事用于集成电路设计、制造和...       研报真知
90726                  $华大九天(SZ301269)$ 这票基本错过这一个多月的科技行情  法QChelios
90727  日亏不到0.5%，三月亏不到0.9%，整天连上证指数都跑不赢，虚度光阴。今天建仓华大九天，昨...    股海无涯ABC
90728               $华大九天(SZ301269)$ 51.22股权激励价当做铁底，做个记录       富博投资
90729                 $华大九天(SZ301269)$ 很多人都没发现，这个是芯片ai龙头    琛201310

               update_time     source data_type  sentiment
0      2024-03-27 21:36:00   雪球iPhone   comment         -1
1      2024-03-27 21:23:00  雪球Android   comment         -1
2      2024-03-27 14:45:00   雪球iPhone   comment         -1
3      2024-03-27 13:39:00   雪球iPhone   comment          0
4      2024-03-26 18:51:00         雪球   comment         -1
...                    ...        ...       ...        ...
90725  2024-03-12 08:56:00         雪球   comment          1
90726  2024-03-09 16:19:00  雪球Android   comment          1
90727  2024-03-08 15:42:00  雪球Android   comment         -1
90728  2024-03-07 03:01:00  雪球Android   comment          0
90729  2024-03-03 23:13:00  雪球Android   comment          1

[90730 rows x 10 columns]>

In [6]:
ods_comment_sb_stock_sen['update_time'] = pd.to_datetime(ods_comment_sb_stock_sen['update_time'], errors='raise')
ods_comment_sb_stock_sen.head

<bound method NDFrame.head of          post_id  stock_code  read_counts  comment_counts  \
0      283805426      600000         1191               0
1      283803062      600000         1231               0
2      283738559      600000         2420               0
3      283724648      600000         2868               0
4      283606946      600000         8655               0
...          ...         ...          ...             ...
90725  281653698      301269        34459               0
90726  281402802      301269        38219               0
90727  281310979      301269        43458               1
90728  281061176      301269        44355               1
90729  280605057      301269        55810               2

                                                   title     author  \
0                                          个别银行指哪个？浦发银行？     看不完怎么办
1      回复@攒股收息乙: 浦发银行不良下降4个基点，拨备覆盖率增加14.5%，也就是如果拨备覆盖率...         鉄山
2                $浦发银行(SH600000)$如果分红0.35，算超过我预期了，反之，就拜拜   超级石头9435
3                            $浦发银行(SH600000)$ 再过两天可以开空单了     不会股票的C
4      文：向善财经$浦发银行(SH600000)$ 最近一段时间，银行股表现也不尽如人意，近一个月...       向善财经
...                                                  ...        ...
90725  针对特定下游持续推出全流程工具。根据公司2023年中报，公司主要从事用于集成电路设计、制造和...       研报真知
90726                  $华大九天(SZ301269)$ 这票基本错过这一个多月的科技行情  法QChelios
90727  日亏不到0.5%，三月亏不到0.9%，整天连上证指数都跑不赢，虚度光阴。今天建仓华大九天，昨...    股海无涯ABC
90728               $华大九天(SZ301269)$ 51.22股权激励价当做铁底，做个记录       富博投资
90729                 $华大九天(SZ301269)$ 很多人都没发现，这个是芯片ai龙头    琛201310

              update_time     source data_type  sentiment
0     2024-03-27 21:36:00   雪球iPhone   comment         -1
1     2024-03-27 21:23:00  雪球Android   comment         -1
2     2024-03-27 14:45:00   雪球iPhone   comment         -1
3     2024-03-27 13:39:00   雪球iPhone   comment          0
4     2024-03-26 18:51:00         雪球   comment         -1
...                   ...        ...       ...        ...
90725 2024-03-12 08:56:00         雪球   comment          1
90726 2024-03-09 16:19:00  雪球Android   comment          1
90727 2024-03-08 15:42:00  雪球Android   comment         -1
90728 2024-03-07 03:01:00  雪球Android   comment          0
90729 2024-03-03 23:13:00  雪球Android   comment          1

[90730 rows x 10 columns]>

In [7]:
ods_comment_sb_stock_sen.columns.tolist()

['post_id',
 'stock_code',
 'read_counts',
 'comment_counts',
 'title',
 'author',
 'update_time',
 'source',
 'data_type',
 'sentiment']

In [8]:
ods_comment_ef_stock_sen.head

<bound method NDFrame.head of              post_id  stock_code  read_counts  comment_counts  \
0       1.410000e+15           1           40               0
1       1.410000e+15           1          129               0
2       1.410000e+15           1          166               3
3       1.410000e+15           1          165               0
4       1.410000e+15           1          122               0
...              ...         ...          ...             ...
324647  1.410000e+15      688599          721              11
324648  1.410000e+15      688599          817              16
324649  1.410000e+15      688599          270               8
324650  1.410000e+15      688981          651               7
324651  1.410000e+15      688981         7415              47

                                                    title   author  \
0                                                      转发  牵动心ling
1                                         跌下来买够，深市打新必备佳品。  铁血之最后战场
2                                我要主动买入仓位了，7个多点股利，不是每天都有的  和风谐水百万户
3                以前兴业银行分红前后不是低于净资产增发就是发行优先股和可转债，今年要发行资本工具     wpef
4                 平安这个铁公鸡，以后都能有这么高的分红吗？还是仅仅今年为利好出货整这么个分红？    中行原油宝
...                                                   ...      ...
324647        光储引领！天合光能至尊N型720W及储能Elementa 2亮相中国国际清洁能源博览会     光伏头条
324648  CellTech国际研讨TOPCon领先性，天合光能至尊N型720W组件高价值引领700W+...     光伏头条
324649                  天合光能15元-价额又狂跌-亏损激增-股价再跌50%，价格无底洞？    山上红牡丹
324650           所有筑底的股票都是有人刻意唱空，然后主力配合打压后形成的！半导体芯片行业已走出低     业余一段
324651                                 千万不要轻易吐槽、瞧不起“代工”企业   低调南湖先生

               update_time                                        detail_link  \
0       15/3/2024 12:02:00                       /news,000001,1408107867.html
1       19/3/2024 01:48:00                       /news,000001,1409226509.html
2       19/3/2024 01:28:00                       /news,000001,1409210195.html
3       19/3/2024 01:44:00                       /news,000001,1409223073.html
4       19/3/2024 01:41:00                       /news,000001,1409220525.html
...                    ...                                                ...
324647  26/3/2024 07:35:00  //caifuhao.eastmoney.com/news/2024032619350849...
324648  14/3/2024 06:45:00  //caifuhao.eastmoney.com/news/2024031418454429...
324649  31/3/2024 05:26:00  //caifuhao.eastmoney.com/news/2024033117263252...
324650  31/3/2024 10:55:00                       /news,688981,1413459579.html
324651  31/3/2024 02:22:00  //caifuhao.eastmoney.com/news/2024033102225330...

               source data_type sentiment
0       gubaeastmoney   comment         1
1       gubaeastmoney   comment         1
2       gubaeastmoney   comment         0
3       gubaeastmoney   comment        -1
4       gubaeastmoney   comment        -1
...               ...       ...       ...
324647  gubaeastmoney   comment         1
324648  gubaeastmoney   comment         1
324649  gubaeastmoney   comment        -1
324650  gubaeastmoney   comment         0
324651  gubaeastmoney   comment        -1

[324652 rows x 11 columns]>

In [9]:
ods_comment_ef_stock_sen['update_time'] = pd.to_datetime(ods_comment_ef_stock_sen['update_time'], errors='raise', dayfirst=True)
ods_comment_ef_stock_sen.head

<bound method NDFrame.head of              post_id  stock_code  read_counts  comment_counts  \
0       1.410000e+15           1           40               0
1       1.410000e+15           1          129               0
2       1.410000e+15           1          166               3
3       1.410000e+15           1          165               0
4       1.410000e+15           1          122               0
...              ...         ...          ...             ...
324647  1.410000e+15      688599          721              11
324648  1.410000e+15      688599          817              16
324649  1.410000e+15      688599          270               8
324650  1.410000e+15      688981          651               7
324651  1.410000e+15      688981         7415              47

                                                    title   author  \
0                                                      转发  牵动心ling
1                                         跌下来买够，深市打新必备佳品。  铁血之最后战场
2                                我要主动买入仓位了，7个多点股利，不是每天都有的  和风谐水百万户
3                以前兴业银行分红前后不是低于净资产增发就是发行优先股和可转债，今年要发行资本工具     wpef
4                 平安这个铁公鸡，以后都能有这么高的分红吗？还是仅仅今年为利好出货整这么个分红？    中行原油宝
...                                                   ...      ...
324647        光储引领！天合光能至尊N型720W及储能Elementa 2亮相中国国际清洁能源博览会     光伏头条
324648  CellTech国际研讨TOPCon领先性，天合光能至尊N型720W组件高价值引领700W+...     光伏头条
324649                  天合光能15元-价额又狂跌-亏损激增-股价再跌50%，价格无底洞？    山上红牡丹
324650           所有筑底的股票都是有人刻意唱空，然后主力配合打压后形成的！半导体芯片行业已走出低     业余一段
324651                                 千万不要轻易吐槽、瞧不起“代工”企业   低调南湖先生

               update_time                                        detail_link  \
0      2024-03-15 12:02:00                       /news,000001,1408107867.html
1      2024-03-19 01:48:00                       /news,000001,1409226509.html
2      2024-03-19 01:28:00                       /news,000001,1409210195.html
3      2024-03-19 01:44:00                       /news,000001,1409223073.html
4      2024-03-19 01:41:00                       /news,000001,1409220525.html
...                    ...                                                ...
324647 2024-03-26 07:35:00  //caifuhao.eastmoney.com/news/2024032619350849...
324648 2024-03-14 06:45:00  //caifuhao.eastmoney.com/news/2024031418454429...
324649 2024-03-31 05:26:00  //caifuhao.eastmoney.com/news/2024033117263252...
324650 2024-03-31 10:55:00                       /news,688981,1413459579.html
324651 2024-03-31 02:22:00  //caifuhao.eastmoney.com/news/2024033102225330...

               source data_type sentiment
0       gubaeastmoney   comment         1
1       gubaeastmoney   comment         1
2       gubaeastmoney   comment         0
3       gubaeastmoney   comment        -1
4       gubaeastmoney   comment        -1
...               ...       ...       ...
324647  gubaeastmoney   comment         1
324648  gubaeastmoney   comment         1
324649  gubaeastmoney   comment        -1
324650  gubaeastmoney   comment         0
324651  gubaeastmoney   comment        -1

[324652 rows x 11 columns]>

In [10]:
ods_comment_ef_stock_sen.columns.tolist()

['post_id',
 'stock_code',
 'read_counts',
 'comment_counts',
 'title',
 'author',
 'update_time',
 'detail_link',
 'source',
 'data_type',
 'sentiment']

In [11]:
ods_news_ef_stock_sen.head

<bound method NDFrame.head of        stock_code      update_time  \
0               1    2024/4/1 8:51
1               1   2024/3/31 3:07
2               1   2024/3/31 2:11
3               1   2024/3/29 4:54
4               1   2024/3/29 8:41
...           ...              ...
71995      688012  2024/12/26 7:45
71996      688111   2024/2/23 5:01
71997      688223   2024/3/26 7:45
71998      688271   2024/12/9 7:44
71999      688271   2024/12/8 3:59

                                             title  read_counts  \
0               平安银行：融资净偿还9308.54万元，两市排名第15（03-29）           98
1                        平安银行本周融资净偿还1.71亿元，两市排名第13          137
2                    平安银行本周深股通持股市值增加1.89亿元，居银行板块第五          191
3      平安银行：截至2023年末 本行共有在职员工43119人（含派遣人员、含理财子和分行）         2802
4               平安银行：融资净偿还5438.84万元，两市排名第16（03-28）          115
...                                            ...          ...
71995        中微公司：融资净偿还993.82万元，融资余额11.31亿元（12-25）          189
71996                      金山办公02月22日被沪股通减持25.95万股          214
71997             晶科能源：连续4日融资净买入累计2014.64万元（03-25）          112
71998        联影医疗：融资净偿还3745.95万元，融资余额4.88亿元（12-08）          235
71999         突发！科创板尾盘突现惊人砸盘！美国“公子哥”曝出9大丑闻 可能被判17年        18066

       comment_counts  author sentiment         source data_type
0                   0  平安银行资讯         1  gubaeastmoney      news
1                   0   大眼看两融         1  gubaeastmoney      news
2                   1   胖猫周周见         0  gubaeastmoney      news
3                  10  平安银行资讯         1  gubaeastmoney      news
4                   0  平安银行资讯         1  gubaeastmoney      news
...               ...     ...       ...            ...       ...
71995               0  中微公司资讯         1  gubaeastmoney      news
71996               0  金山办公资讯        -1  gubaeastmoney      news
71997               0  晶科能源资讯         1  gubaeastmoney      news
71998               0  联影医疗资讯         1  gubaeastmoney      news
71999              16  联影医疗资讯        -1  gubaeastmoney      news

[72000 rows x 9 columns]>

In [12]:
ods_news_ef_stock_sen['update_time'] = pd.to_datetime(ods_news_ef_stock_sen['update_time'], errors='raise')
ods_news_ef_stock_sen.head

<bound method NDFrame.head of        stock_code         update_time  \
0               1 2024-04-01 08:51:00
1               1 2024-03-31 03:07:00
2               1 2024-03-31 02:11:00
3               1 2024-03-29 04:54:00
4               1 2024-03-29 08:41:00
...           ...                 ...
71995      688012 2024-12-26 07:45:00
71996      688111 2024-02-23 05:01:00
71997      688223 2024-03-26 07:45:00
71998      688271 2024-12-09 07:44:00
71999      688271 2024-12-08 03:59:00

                                             title  read_counts  \
0               平安银行：融资净偿还9308.54万元，两市排名第15（03-29）           98
1                        平安银行本周融资净偿还1.71亿元，两市排名第13          137
2                    平安银行本周深股通持股市值增加1.89亿元，居银行板块第五          191
3      平安银行：截至2023年末 本行共有在职员工43119人（含派遣人员、含理财子和分行）         2802
4               平安银行：融资净偿还5438.84万元，两市排名第16（03-28）          115
...                                            ...          ...
71995        中微公司：融资净偿还993.82万元，融资余额11.31亿元（12-25）          189
71996                      金山办公02月22日被沪股通减持25.95万股          214
71997             晶科能源：连续4日融资净买入累计2014.64万元（03-25）          112
71998        联影医疗：融资净偿还3745.95万元，融资余额4.88亿元（12-08）          235
71999         突发！科创板尾盘突现惊人砸盘！美国“公子哥”曝出9大丑闻 可能被判17年        18066

       comment_counts  author sentiment         source data_type
0                   0  平安银行资讯         1  gubaeastmoney      news
1                   0   大眼看两融         1  gubaeastmoney      news
2                   1   胖猫周周见         0  gubaeastmoney      news
3                  10  平安银行资讯         1  gubaeastmoney      news
4                   0  平安银行资讯         1  gubaeastmoney      news
...               ...     ...       ...            ...       ...
71995               0  中微公司资讯         1  gubaeastmoney      news
71996               0  金山办公资讯        -1  gubaeastmoney      news
71997               0  晶科能源资讯         1  gubaeastmoney      news
71998               0  联影医疗资讯         1  gubaeastmoney      news
71999              16  联影医疗资讯        -1  gubaeastmoney      news

[72000 rows x 9 columns]>

In [13]:
ods_news_ef_stock_sen.columns.tolist()

['stock_code',
 'update_time',
 'title',
 'read_counts',
 'comment_counts',
 'author',
 'sentiment',
 'source',
 'data_type']

In [14]:
# Combine the three dataframes
combined_df = pd.concat([ods_comment_sb_stock_sen, ods_comment_ef_stock_sen, ods_news_ef_stock_sen], ignore_index=True)

# Display the first few rows of the combined dataframe to verify
combined_df_head = combined_df.head()
combined_df_tail = combined_df.tail()

(combined_df_head, combined_df_tail, combined_df.shape)

(       post_id  stock_code  read_counts  comment_counts  \
 0  283805426.0      600000         1191               0
 1  283803062.0      600000         1231               0
 2  283738559.0      600000         2420               0
 3  283724648.0      600000         2868               0
 4  283606946.0      600000         8655               0

                                                title    author  \
 0                                      个别银行指哪个？浦发银行？    看不完怎么办
 1  回复@攒股收息乙: 浦发银行不良下降4个基点，拨备覆盖率增加14.5%，也就是如果拨备覆盖率...        鉄山
 2            $浦发银行(SH600000)$如果分红0.35，算超过我预期了，反之，就拜拜  超级石头9435
 3                        $浦发银行(SH600000)$ 再过两天可以开空单了    不会股票的C
 4  文：向善财经$浦发银行(SH600000)$ 最近一段时间，银行股表现也不尽如人意，近一个月...      向善财经

           update_time     source data_type sentiment detail_link
 0 2024-03-27 21:36:00   雪球iPhone   comment        -1         NaN
 1 2024-03-27 21:23:00  雪球Android   comment        -1         NaN
 2 2024-03-27 14:45:00   雪球iPhone   comment        -1         NaN
 3 2024-03-27 13:39:00   雪球iPhone   comment         0         NaN
 4 2024-03-26 18:51:00         雪球   comment        -1         NaN  ,
         post_id  stock_code  read_counts  comment_counts  \
 487377      NaN      688012          189               0
 487378      NaN      688111          214               0
 487379      NaN      688223          112               0
 487380      NaN      688271          235               0
 487381      NaN      688271        18066              16

                                         title  author         update_time  \
 487377  中微公司：融资净偿还993.82万元，融资余额11.31亿元（12-25）  中微公司资讯 2024-12-26 07:45:00
 487378                金山办公02月22日被沪股通减持25.95万股  金山办公资讯 2024-02-23 05:01:00
 487379       晶科能源：连续4日融资净买入累计2014.64万元（03-25）  晶科能源资讯 2024-03-26 07:45:00
 487380  联影医疗：融资净偿还3745.95万元，融资余额4.88亿元（12-08）  联影医疗资讯 2024-12-09 07:44:00
 487381   突发！科创板尾盘突现惊人砸盘！美国“公子哥”曝出9大丑闻 可能被判17年  联影医疗资讯 2024-12-08 03:59:00

                source data_type sentiment detail_link
 487377  gubaeastmoney      news         1         NaN
 487378  gubaeastmoney      news        -1         NaN
 487379  gubaeastmoney      news         1         NaN
 487380  gubaeastmoney      news         1         NaN
 487381  gubaeastmoney      news        -1         NaN  ,
 (487382, 11))

In [44]:
# Sort by `stock_code` and `update_time` in ascending order
sorted_df = combined_df.sort_values(by=['stock_code', 'update_time'])

# Add the 'input_date_time' column with the current system time for all rows
sorted_df['input_date_time'] = current_time

# Display what different values are in the sentiment column in the sorted_df table
sorted_df['sentiment'].unique()

array(['0', '-1', '1', 'Open api qps request limit reached', 0, -1,
       'recognize error', 1], dtype=object)

In [45]:
sorted_df['sentiment'] = sorted_df['sentiment'].apply(lambda x: None if x in ['recognize error', 'Open api qps request limit reached'] else x)
sorted_df['sentiment'] = sorted_df['sentiment'].astype(float)

In [46]:
dwd_stock_sentiment_di = sorted_df
file_path_dwd_stock_sentiment_di = '/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/DWD/dwd_stock_sentiment_di.csv'
dwd_stock_sentiment_di.to_csv(file_path_dwd_stock_sentiment_di, index = False)

In [ ]:
# Insert the DataFrame directly into the MySQL table
dwd_stock_sentiment_di.to_sql(name=dwd_stock_sentiment_di, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()

In [47]:
dwd_stock_sentiment_di['update_time'] = pd.to_datetime(dwd_stock_sentiment_di['update_time']).dt.date
dws_stock_sentiment_analyse_1d = dwd_stock_sentiment_di

In [48]:
dws_stock_sentiment_analyse_1d = dws_stock_sentiment_analyse_1d.groupby(['update_time', 'stock_code', 'sentiment', 'source', 'data_type']).agg(
    sentiment_count=('sentiment', 'count'),  # Count of 'sentiment' occurrences
    total_read_counts=('read_counts', 'sum'),  # Sum of 'read_counts'
    total_comment_counts=('comment_counts', 'sum')  # Sum of 'comment_counts'
).reset_index()

dws_stock_sentiment_analyse_1d.head()

,update_time,stock_code,sentiment,source,data_type,sentiment_count,total_read_counts,total_comment_counts
0,2024-01-01,786,0.0,gubaeastmoney,news,1,2137,0
1,2024-01-01,786,1.0,gubaeastmoney,news,1,3282,17
2,2024-01-01,2241,1.0,gubaeastmoney,news,1,10331,27
3,2024-01-01,2352,1.0,gubaeastmoney,news,1,7623,11
4,2024-01-01,2601,1.0,gubaeastmoney,news,2,4075,14

In [49]:
dws_stock_sentiment_analyse_1d.to_csv('/Users/yuechun/Desktop/QF5214 Data Engineering for Quantitative Finance/DWS/dws_stock_sentiment_analyse_1d.csv')

In [ ]:
# Insert the DataFrame directly into the MySQL table
dws_stock_sentiment_analyse_1d.to_sql(name=dws_stock_sentiment_analyse_1d, con=engine, if_exists='append', index=False)

print("CSV data has been successfully imported into the MySQL database")

# Close the engine connection
engine.dispose()